﻿<dl>
    <dt class="h1">@Model.Titulo</dt>
    <dd>
        <img src="@Model.Imagen" width="800" height="800" style="margin:auto" />
    </dd>
    <dd>
        <p>@Model.Contenido </p>
        <p>Autor: <strong>@Model.Autor</strong></p>
        <p>Publicado el día <strong>@Model.Fecha</strong></p>
    </dd>
</dl>
<h2>Comentarios:</h2>
