﻿@{
    ViewData["Title"] = "Home Page";
}

    @foreach (var item in Model)
    {
        <dl>
            <dt class="h1" style="color:blue"><a href="https://localhost:44302/Post/detalle?id=@item.Id">@item.Titulo</a></dt>
            <dd>
                <p>@item.Contenido </p>
                <p><strong>@item.Autor</strong></p>
                <p style="color: gray; margin-bottom:50px"><a href="https://localhost:44302/post/detalle?id=@item.Id"><em>Más información...</em></a></p>
            </dd>
        </dl>
    }
<input type="button" class="btn btn-secondary btn-lg" value="Crear nuevo blog"/>